Workflow ETL.json
{
  "name": "Workflow ETL",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -80
      ],
      "id": "e55144d0-c54f-4575-b77f-8e4be781d484",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KeEF47VXCXO-eZpxhFG8Ye3gNRG3qwUSjES2kZ-_Xeo",
          "mode": "list",
          "cachedResultName": "Agenda Ia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KeEF47VXCXO-eZpxhFG8Ye3gNRG3qwUSjES2kZ-_Xeo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Agenda IA",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        -80
      ],
      "id": "e74ef3af-325e-40b3-85df-c591a7a41957",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QNm6gjDd8NTYONYp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        -80
      ],
      "id": "6b43d95d-e51e-4a67-a95c-c6ecfcf710d0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/events/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json['Evento'] }}\",\n  \"start_date\": \"{{ $json['Data/Anual'].split('à')[0].trim().split('/').reverse().join('-') }}\",\n  \"end_date\": \"{{ $json['Data/Anual'].split('à')[1] ? $json['Data/Anual'].split('à')[1].trim().split('/').reverse().join('-') : $json['Data/Anual'].split('à')[0].trim().split('/').reverse().join('-') }}\",\n  \"source_agenda\": \"IA\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        -64
      ],
      "id": "c80256e9-d132-426a-8806-23ec1c5de769",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "456f8e0a-8709-4284-b97c-1bc2c5772db6",
              "leftValue": "={{ $json['Evento'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        512,
        -64
      ],
      "id": "8a3ef720-3216-4827-abac-d0d64a9ee464",
      "name": "Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OjisMsyH_xSJPmFq43mbC-_IX-w02VjAiUkea6-ovcw",
          "mode": "list",
          "cachedResultName": "Agenda RH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OjisMsyH_xSJPmFq43mbC-_IX-w02VjAiUkea6-ovcw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "RECURSOS HUMANOS",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        144
      ],
      "id": "fcc9090a-b55e-4868-83cc-63d4327c2734",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QNm6gjDd8NTYONYp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        144
      ],
      "id": "8eae25a1-f9c6-438c-9c95-9558698e1041",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/events/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json['Evento'] }}\",\n  \"start_date\": \"{{ $json['Data/Anual'].split('à')[0].trim().split('/').reverse().join('-') }}\",\n  \"end_date\": \"{{ $json['Data/Anual'].split('à')[1] ? $json['Data/Anual'].split('à')[1].trim().split('/').reverse().join('-') : $json['Data/Anual'].split('à')[0].trim().split('/').reverse().join('-') }}\",\n  \"source_agenda\": \"RH\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        160
      ],
      "id": "8a4aed6c-da57-47b5-ac49-2b3b9cd7ff43",
      "name": "HTTP Request1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "456f8e0a-8709-4284-b97c-1bc2c5772db6",
              "leftValue": "={{ $json['Evento'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        512,
        160
      ],
      "id": "cec12409-50f0-4b60-a2b4-bf0799dafcb3",
      "name": "Filter1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UNROt8uGtCsr1TIsSJ8hC1ZVDQ_4_pXnVzg4mlLPasA",
          "mode": "list",
          "cachedResultName": "AGENDA MARKETING",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UNROt8uGtCsr1TIsSJ8hC1ZVDQ_4_pXnVzg4mlLPasA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "MKT",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        368
      ],
      "id": "2fad5e43-8c07-40bb-91b0-bf83d25f69b7",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QNm6gjDd8NTYONYp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        368
      ],
      "id": "d70265ef-7378-404a-9f9c-a334d57b0512",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/events/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"title\": \"{{ ($json['Evento']).replace(/[“”\"]/g, '') }}\",\n    \"start_date\": \"{{ $json['Data/Anual'].split('à')[0].trim().replace(/[\\\\s\\\\t.()\\\\-\\\\–]/g, '').split('/').reverse().join('-')}}\",\n    \"end_date\": \"{{$json['Data/Anual'].split('à')[1] ? $json['Data/Anual'].split('à')[1].trim().replace(/[\\\\s\\\\t.()\\\\-\\\\ –SemestralTrimestral]/g, '').split('/').reverse().join('-') : $json['Data/Anual'].split('à')[0].trim().replace(/[\\\\s\\\\t.()\\\\-\\\\–]/g, '').split('/').reverse().join('-')}}\",\n    \"source_agenda\": \"MKT\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        384
      ],
      "id": "e37e4e42-5417-457c-9e2c-6d17a55d3b6e",
      "name": "HTTP Request2",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "456f8e0a-8709-4284-b97c-1bc2c5772db6",
              "leftValue": "={{ $json['Evento'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        512,
        384
      ],
      "id": "30cd52d5-722c-4798-8166-6c4cdb4f2532",
      "name": "Filter2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9cf3592a-bb46-4e76-977a-a3e8fff0ac1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd07832dbd4d047837c2de0f360c83a41c423209341863ba7a423fa46829e885"
  },
  "id": "HvVzgIpDuSd5tpvq",
  "tags": []
}