Workflow IA.json
{
  "name": "Workflow IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8d061515-3c4a-464e-bbb2-2349e6cea6bb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        0
      ],
      "id": "7e243cb7-7093-44fc-8d70-6cc9019bfe99",
      "name": "Webhook",
      "webhookId": "8d061515-3c4a-464e-bbb2-2349e6cea6bb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.pergunta }}",
        "options": {
          "systemMessage": "Você é um assistente amigável, que responde perguntas sobre as agendas.\nSua função é ajudar pessoas a colher informações sobre eventos(datas, período, nome do evento) da empresa, NADA MAIS que isso.\nUse \"HTTP Request\" para encontrar todas as informações que você precisa.\nSeja centrado, responda apenas com base nos dados contidos nas agendas.\nNão responda perguntas que fuja dos temas Agenda, Eventos, Data do evento, Período do evento e Nome do evento.\nQuando for dizer que não pode responder, seja dócil, educado e amigável.\nLembre-se de diálogos recentes que você teve com o usuário, como: Lembrar das perguntas que ele fez, dos eventos que ele quis procurar saber e das datas.\nNão responda perguntas fora do seu escopo.\nSiga todas essas regras rigorosamente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        -128
      ],
      "id": "b57bd335-f40d-45e4-a439-4fa0919dbf4d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        240
      ],
      "id": "066c6ceb-47e7-427a-ac88-3645e8aeaf46",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "thIZRgUc7ZtEEwQW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Esta ferramenta é usada para fazer buscas nos eventos das agendas. Perguntar sobre datas, eventos, quando será cada acontecimento, sempre relacionado às agendas.",
        "url": "http://api:8000/events/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        544,
        224
      ],
      "id": "6db187de-e125-4721-85a2-14e5b790405f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        608,
        0
      ],
      "id": "63b5363b-7576-43dc-8c0e-4caa8158ceff",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        240
      ],
      "id": "0daed389-581a-44ad-a8dd-113dfdc4ca62",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c57d064c-5293-448d-92ef-e3797fa6cf3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd07832dbd4d047837c2de0f360c83a41c423209341863ba7a423fa46829e885"
  },
  "id": "hU1HnpSSIItJpGON",
  "tags": []
}